<script src="js/main.min.js"></script>
<footer class="footer mt-auto py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <ul class="footer__ul">
                    <div class="footer__ul-li"><a href="">Главная</a></div>
                    <div class="footer__ul-li"><a href="">О нас</a></div>
                    <div class="footer__ul-li"><a href="">Услуги</a></div>
                    <div class="footer__ul-li"><a href="">Наши работы</a></div>
                </ul>
            </div>
            <div class="col-md-3">

            </div>
            <div class="col-md-3">

            </div>
            <div class="col-md-3">
                <div class="social">
                    <a href=""><img src="../img/vk.svg" alt=""></a>
                    <a href=""><img src="../img/instagram.svg" alt=""></a>
                </div>
            </div>
            <span class="copyright">&copy; 2019 Careta. Все права защищены</span>
        </div>
    </div>
    </div>
</footer>